
    <app-main-section>
      <div class="container padded margin-top" fxLayout="column" fxLayoutAlign="space-around center">
        <div class="container padded">
          <md-card>
            <md-card-header>
              <md-card-title><h5 class="display-4">Gravity calculation complete.</h5></md-card-title>
              <md-card-title><h4 class='lead'>Thank you for visiting the gravitational pendulum!</h4></md-card-title>            
            </md-card-header>            
            <hr>
            <br/>
            <md-card-content fxLayoutAlign="space-around center">
              <h1><strong>9.81</strong><small>g</small></h1>          
              <img style="width:135px" md-card-image src="../../assets/img/newton.jpg">
            </md-card-content>
            <hr>
            <md-card-content fxLayoutAlign="space-around center">
              <md-card-subtitle>
               <p> 
                 Based on the average values captured on the previous screen and Newtonnian physics. Gravity is measured in <sup>m</sup> / <sub><span>s</span><sup>2</sup></sub>
               </p>
              </md-card-subtitle>
            </md-card-content>
            
            <div fxLayout="row">        
              <button md-button fxFlex="20">SHARE</button>              
              <a md-raised-button fxFlexOffset="60" fxFlex="20" launchForm="" routerLink="../welcome">Finish</a>             
            </div>
          </md-card>
        </div>        
      </div>
    </app-main-section>
