
.spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.margin-top{
    margin-top:40px;
}

.padded{
    padding: 0 1.5em 1.5em 1.5em;
}

.full-width {
  width: 100%;
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.height-spacer{
    height:60px;
}

.start-section{
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.start-margin{
    margin:60px;
}

.example-header-image {
  background-size: cover;
}

.page-padding{
    padding: 0 1.5em 1.5em 1.5em;
}

/*
* MOZILLA HOLY GRAIL STYLE START
*/

#main {
    min-height: 800px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row;
}

#main > article {
    margin: 4px;
    padding: 5px;
    border: 1px solid #cccc33;
    border-radius: 7pt;
    background: #dddd88;
    flex: 3 1 60%;
    order: 2;
}

#main > nav {
    margin: 4px;
    padding: 5px;
    border: 1px solid #8888bb;
    border-radius: 7pt;
    background: #ccccff;
    flex: 1 6 20%;
    order: 1;
}

#main > aside {
    margin: 4px;
    padding: 5px;
    border: 1px solid #8888bb;
    border-radius: 7pt;
    background: #ccccff;
    flex: 1 6 20%;
    order: 3;
}

header, footer {
    display: block;
    margin: 4px;
    padding: 5px;
    min-height: 100px;
    border: 1px solid #eebb55;
    border-radius: 7pt;
    background: #ffeebb;
}

/* Too narrow to support three columns */
@media all and (max-width: 640px) {
    #main, #page {
        flex-direction: column;
    }

    #main > article, #main > nav, #main > aside {
    /* Return them to document order */
        order: 0;
    }

    #main > nav, #main > aside, header, footer {
        min-height: 50px;
        max-height: 50px;
    }
}
/*
* MOZILLA HOLY GRAIL STYLE END
*/